</head>
<body>
  <nav>
		<img src="https://www.clker.com/cliparts/C/e/J/K/L/m/airplane-gray-hi.png" alt="Gray Airplane" width="30" height="30">
    <a 
			href="/flights/new"
			<%- title === 'Add Meal' ? 'class="active"' : '' %>
		>
			ADD MEAL
		</a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights/index" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>